#box {
  background-color: white;
  border: 15px;
  border-style: solid;
  border-color: #bdc7cf;
  padding: 10px;
  margin: 10px;
}
#date{
  margin-top: 0px;
  margin-left: 35px;
  margin-bottom: 0px;
  color : #3098dd;
  letter-spacing: 4px;
  text-transform: capitalize;
}
#text {
  margin-left: 35px;
  margin-right: 35px;
  text-align: justify;
  margin-top: 0px;
}

#tindent {
  margin-left:65px;
  margin-right:35px;
  text-align: justify;
  margin-top: 0px;
  border-left: 10px solid grey;
  padding-left: 10px;
}

#title {
  margin-left: 35px;
  margin-bottom: 10px;
  color: #354b63;
}
